

.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 20px 0;
}

.input-box .form__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255,.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

form__input:not(:placeholder-shown){
  color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
  transform: translate(12px,-140% ) scale(.7);
  transform-origin: left top;
  color : #fff;

}

.form__label{
  color: #fff;
  cursor: pointer;
  position: absolute;
  top:0;
  left: 20px;
  transform: translateY(-50%);
  transition: transform .5s, color .3s;
}

.input-box .icon{
  position: absolute;
  color:  #fff;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
